# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django
#db.sqlite3
/static/
media/

# Terraform
terraform/.terraform/*
terraform/.terraform.lock.hcl
# Virtualenv
venv/
.env

# VS Code
.vscode/

# Other
*.log
.DS_Store
.github/.DS_Store
